In [69]:
import pymysql

In [70]:
from settings import DB_HOST, DB_NAME, DB_USER, DB_PASSWORD

In [89]:
connection = pymysql.connect(host=DB_HOST,
                             user=DB_USER,
                             password=DB_PASSWORD,
                             db=DB_NAME,
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [72]:
def reg_user(args_dic):
    with connection.cursor() as cursor:
        sql = 'insert into users(name, sex, weight, height) values (%s, %s, %s, %s)'
        cursor.execute(sql, (args_dic['name'], args_dic['sex'], args_dic['weight'], args_dic['height']))
    connection.commit()

In [ ]:
d = {'name':'123', 'sex':1, 'weight':123, 'height':200}

In [ ]:
def reg_user(args_dic):
    with connection.cursor() as cursor:
        sql = 'insert into users(name, sex, weight, height) values (%s, %s, %s, %s)'
        cursor.execute(sql, (args_dic['name'], args_dic['sex'], args_dic['weight'], args_dic['height']))
    connection.commit()

def set_usernorm(username, daily_norm_dic):
    with connection.cursor() as cursor:
        sql = 'insert into norm(calories, proteins, fats, carbohydrates, user_id) values (%s, %s, %s, %s, (select id from users where name=%s))'
        cursor.execute(sql, (daily_norm_dic['calories'], daily_norm_dic['proteins'], daily_norm_dic['fats'], daily_norm_dic['carbohydrates'], username))
    connection.commit()

def get_daily_report(username):
    with connection.cursor() as cursor:
        sql = 'select calories, proteins, fats, carbohydrates from users where name=%s'
        cursor.execute(sql, username)
        return cursor.fetchall()

def get_daily_norm(username):
    with connection.cursor() as cursor:
        sql = 'select calories, proteins, fats, carbohydrates from norm where user_id=(select id from users where name=%s)'
        cursor.execute(sql, username)
        return cursor.fetchone()

In [ ]:
d = {'name':'testtest', 'sex':1, 'weight':70, 'height':174}

In [ ]:
reg_user(d)

In [ ]:
norm = {'calories': 2448.332, 'proteins': 244.88420000000002, 'fats': 54.418711111111115, 'carbohydrates': 244.88420000000002}

In [ ]:
set_usernorm('testtest', norm)

In [ ]:
get_daily_report('skvgd')

In [ ]:
get_daily_norm('testtest')

In [ ]:
d = [1]

In [ ]:
q,=d

In [ ]:
q = {'qwe':'123'}

In [ ]:
d = '{p[qwe]}'.format(p=q)

In [ ]:
d

In [ ]:
def get_ingredients_types():
    with connection.cursor() as cursor:
        sql = 'select distinct type from ingredients;'
        cursor.execute(sql)
        return [i['type'] for i in cursor.fetchall()]

In [ ]:
'\n'.join(q)

In [ ]:
for i, j in enumerate(q):
    print(i)
    print(j)

In [ ]:
def get_inrgediets_by_type(type):
    with connection.cursor() as cursor:
        sql = 'select name from ingredients where type=%s'
        cursor.execute(sql, type)
        return cursor.fetchall()

In [ ]:
get_inrgediets_by_type('Напитки')

In [ ]:
int('ds')

In [ ]:
def add_di(dish, ingredient, count):
    with connection.cursor() as cursor:
        sql = 'insert into d_i(dishes_id, ingredients_id, amount) values ((select id from dishes where name=%s), (select id from ingredients where name=%s), %s)'
        cursor.execute(sql, (dish, ingredient, count))
    connection.commit()

In [ ]:
add_di('werw', 'Вермут 13% алкоголя', 50)

In [ ]:
s = '1 23123'

In [ ]:
s.split(' ')

In [25]:
def is_dish_exist(dishname):
    with connection.cursor() as cursor:
        sql = 'select count(*) from dishes where name=%s'
        cursor.execute(sql, dishname)
        return cursor.fetchone()['count(*)'] != 0

In [26]:
is_dish_exist('qwe')

True

In [75]:
def calc_dish_features(dishname):
    with connection.cursor() as cursor:
        sql = 'select sum(i.calories*di.amount/100) as cal, sum(i.proteins*di.amount/100) as p, \
        sum(i.fats*di.amount/100) as f , sum(i.carbohydrates*di.amount/100) as carb from ingredients  as i join d_i as di join dishes as d on  \
        i.id=di.ingredients_id and d.id=di.dishes_id where d.name=%s'
        cursor.execute(sql, dishname)
        return cursor.fetchall()[0]

In [76]:
calc_dish_features('qwe')

{'cal': 430.66999999999996, 'carb': 12.3, 'f': 11.4, 'p': 38.7}

In [77]:
c = {'cal': 430.66999999999996, 'carb': 12.3, 'f': 11.4, 'p': 38.7}

In [79]:
cc = {'cal': 100, 'carb': 100, 'f': 11.4, 'p': 38.7}

In [81]:
c+cc

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [98]:
ddd = {'calories':'1000', 'proteins':'1111', 'fats':'2222', 'carbohydrates':'3333'}

In [105]:
def update_users_features(username, features):
    with connection.cursor() as cursor:
        sql = 'update users set calories=%s, proteins=%s, fats=%s, carbohydrates=%s where name=%s'
        cursor.execute(sql, (features['calories'], features['proteins'], features['fats'], features['carbohydrates'], username))
    connection.commit()

In [106]:
update_users_features('skvgd', {'calories':'1000', 'proteins':'1111', 'fats':'2222', 'carbohydrates':'3333'})